.app-footer {
    .app-footer-top {
        height: 200px;
        background-color: var(--clr-bg-footer-top);
    }
    .app-footer-bottom {
        height: 200px;
        background-color: var(--clr-bg-footer-bottom);
    }
}